extends layout

block link
  -var selected = 'Nouvelle partie';
  -var css = "new_game";

block content
  div(class="chapter-content" ng-controller="PlayerCtrl as player")
    h2 Creation d'une nouvelle partie
    div(class='forms-controller')

      //-Formulaire de création du nouveau joueur
      form(name="new-game")

        //- Affichage du message après retour d'un post
        if msgName
          span(class="error") #{msgName}

        //- Nom du joueur
        div(class='field-controller')
          h3 Name {{player.name}}
          input(id='name',type='text',placeholder='Name',name='name', ng-model="player.name")
        
        //- Sélection des compétences de Kai
        div(class='field-controller')
          h3 Discipline de Kai
          if msgKai
            span(class="error") #{msgKai}
          each val, key in kais
            div(class='checkbox-controller')
              input(type="checkbox", id=key, name="kais", value=key)
              label(for=key)
                img(src="/images/"+key+".png") 
                | #{val}

        //- Sélection des équipements de départ
        div(class='field-controller')
          h3 Equipement
          if msgWeapon
            span(class="error") #{msgWeapon}
          each val, key in equipments
            div(class='checkbox-controller')
              input(type="checkbox", id=key, name="equipments", value=key)
              label(for=key)
                img(src="/images/"+key+".png") 
                | #{val}

        div(class='field-controller')
          button(name='submit', ng-click="player.submitForm()") Commencer le jeu
