extends layout

block link
  -var selected = 'Nouvelle partie';
  -var css = "new_game";

block content
  div(class="chapter-content")
    h2 Creation d'une nouvelle partie
    div(class='forms-controller')
      form(name="new-game", method="post", action="/new_game")
        div(class='field-controller')
          h3 Name
          input(id='name',type='text',placeholder='Name',name='name')
        div(class='field-controller')
          h3 Discipline de Kai
          each val, key in kais
            div(class='checkbox-controller')
              input(type="checkbox", id=key, name="kais", value=key)
              label(for=key)
                img(src="/images/"+key+".png") 
                | #{val}

        div(class='field-controller')
          h3 Equipement
          each val, key in equipments
            div(class='checkbox-controller')
              input(type="checkbox", id=key, name="equipments", value=key)
              label(for=key)
                img(src="/images/"+key+".png") 
                | #{val}

        div(class='field-controller')
          input(type='submit',name='submit',value='Commencer le jeu')